extends ../../layouts/default.pug
block main
    h1 Products 
    table.table.table-hover.table-sm 
        thead
            tr  
                th Number
                th Image 
                th Title 
                th Price
                th Status 
                th Actions
        tbody
            tr 
                td 1
                td 
                    img(src="https://via.placeholder.com/150")
                td