
.logo {
    width: 100px;
    height: 100px;
}
.header{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.header .inner-menu > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .inner-menu > ul > li{
    margin-left: 20px;
}

.footer .text-center{
    background-color: #333;
    color: #fff;
}

.product-image{
    width: 240px;
    height: 220px;
    padding: 10px;
}

.product-details {
    padding: 10px;
    
}
.product-details > h2.name_game{
    color: red;
    font-size: 20px;
}

.inner-content {
    padding: 10px;
}

.inner-title{
    color: red;
}

