extends ../../layouts/default.pug
block main    
    .container.my-3     
        .row 
            .col-12 
                .box-head
                    h2.inner-title Products
        .row 
            .col-4.mb-3 
                .product-item 
                    .inner-image  
                        img(src="/images/sekiro.jpg" alt='Sekiro Cover' class='product-image')
                    .inner-content 
                        h3.product-title Sekiro: Shadows Die Twice
                        p.product-description Experience the critically acclaimed action-adventure game where you embark on a quest for vengeance.
                        p.product-price $59.99
                        br
                        button(type='button') Add to Cart
            .col-4.mb-3 
                .product-item 
                    .inner-image  
                        img(src="/images/Elden_Ring.jpg" alt='Elden Ring Cover' class='product-image')
                    .inner-content 
                        h3.product-title Elden Ring
                        p.product-description Discover the latest fantasy action RPG from FromSoftware, featuring a vast world full of danger and secrets.
                        p.product-price $69.99
                        br
                        button(type='button') Add to Cart