nav.sider
    a(href=`${prefixAdmin}/dashboard`).active Dashboard
    a(href=`${prefixAdmin}/products`) Products
    a(href="/orders") Orders
    a(href="/customers") Customers
    a(href="/reports") Reports
    a(href="/settings") Settings
