header.header
    .container 
        .row.align-items-center
            .col-3
                .inner-logo  
                a(href='/')
                    img(src='https://static.vecteezy.com/system/resources/previews/007/131/902/non_2x/game-shop-with-bag-logo-concept-icon-gaming-or-symbol-logo-free-vector.jpg' alt='Trohan Store' class='logo')  
            .col-9
                .inner-menu      
                 ul
                  li
                      a(href='/') Home
                  li
                      a(href='/products') Products
                  li
                      a(href='/contact') Contact
